@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
orgihjogerhiguih
ryuk yu ryiyu yu yu yu yu 
yu
yu 
yuk 
yuk yu
 yu
yu 
yuk 
yukyuk
t

n 
ghm ry
j e
u e
j ry
76
i56uet
j 
